# macOS system files
.DS_Store

# Xcode specific
*.xcworkspace/
*.xcodeproj/project.xcworkspace/
xcuserdata/
DerivedData/
*.xcuserstate

# Obj-C/Swift specific
*.hmap

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Firebase secrets
GoogleService-Info.plist

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.pins
Package.resolved

# CocoaPods
Pods/
*.lock

# Carthage (Dependency Manager)
Carthage/Checkouts
Carthage/Build/

# Build artifacts
build/
*.app

# Fastlane (CI/CD Tool)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
